<h2>Edit "<%= @student.first_name %>"</h2>


<%= form_for([@user, @student]) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :osis %>
  <%= f.text_field :osis %><br>
  <%= f.label :address %>
  <%= f.text_field  :address %><br>

  <%= f.label :date_of_birth %>
  <%= f.text_field  :date_of_birth %><br>
  <%= f.label :guardians_name %>
  <%= f.text_field :guardians_name %><br>
 <%= f.label :phone_number %>
  <%= f.phone_field :phone_number %><br>
<%= f.hidden_field :user_id, :value => @user.id %>

  <%= f.submit%>
<% end %>


<h1> Did an infraction occur, please put it below:" </h1>



